<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Page</title>
    <link rel="stylesheet" href="/project.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/css/mdb.min.css" rel="stylesheet">

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
    </script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/js/mdb.min.js">
    </script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Bellota+Text|Barlow|IBM+Plex+Sans|Nunito|Titillium+Web|Ubuntu&display=swap" rel="stylesheet">




</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><i class="fa fa-home" aria-hidden="true"></i> Perfect Properties</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link " href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link " href="/project">Project</a>
                <a class="nav-item nav-link " href="/enquire">Enquire</a>

            </div>
        </div>
    </nav>

    <h1 class="text-center mt-2">Here goes down the list!</h1>
    <h3 class="text-center mt-2">Search for your requirement</h3>

    <div class="row flat ml-1 container-fluid  justify-content-center">
        <% properties.forEach(function(property) { %>
        <div class="card col-md-4">
            <h5 class="badge badge-dark mt-3">Status: <%= property.status %> </h5>
            <img src="<%= property.image[0].url %>" alt="property-img" style="width: 100%; height: 300px;">
            <div class="card-body">
                
                <h4 class="card-title mt-3">Location: <%= property.location %> </h4>
                <h4 class="card-title"><%= property.roomtype %></h4>
                <p class="card-text"><span style="font-weight: bold; font-size: 20px;">Address: </span><%=property.address %></p>
                <h2 class="card-title text-center">Price: ₹ <%=property.price %></h2>
                
            <div class="row text-center mt-3 mb-3">        
                <form method="POST" class="col-md-6" action="/single">
                    <button type="submit" name="id" value=<%=property._id  %>  class="btn btn-outline-dark waves-effect">More Info</button>
                </form>
                <form method="GET" class="col-md-6" action="/enquire">
                    <button type="submit" name="id" class="btn btn-outline-info waves-effect">Enquire</button>
                </form>
            </div>
            </div>
        </div>
        <% }); %>
    </div>

</body>

</html>

